# API грейдера
API_URL=https://b2b.itresume.ru/api/statistics
API_CLIENT=Skillfactory
API_CLIENT_KEY=your_client_key_here

# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=grader_db
DB_USER=postgres
DB_PASSWORD=postgres

# Логи (необязательно)
LOGS_DIR=logs
